
html, body {
    
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

/* Parent to Logo And Links  */
body{
    width: 800px;
    border: 2px solid blue;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}
.header{
    display:flex;
    border: 1px solid rgb(165, 50, 50);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;

    /* margin: 20px 20px; */
}
.logo {
    border: 3px solid blue;
    width: 15%;
}
nav {
    display:flex;
    justify-content: space-evenly;
    border: 2px solid blue;
    width: 40%;
    padding-top: 10px;
}
/* Changes Attributes to Individual links inside the LINKS box  */
nav a {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    width: 10%;
}

.aboutintro{
         border: 2px solid blue;
    }
.body1{
    display:flex;
    width:30%;
    flex-wrap: wrap;
}
.plan{
    display:flex;
       
        flex-direction: column;
        
    }
.body2{
    display:flex;
    width:30%;
    flex-wrap: wrap;
}
}
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}